*.apk
*.aar
*.ap_
*.aab

.vscode/

.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
*.iml
*.ipr
*.iws

.gradle/
build/
capture/
**/build/

local.properties

*.log

captures/

*.jks
*.keystore
*.pk8
*.p12

.DS_Store
Thumbs.db